@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.fade-in {
    animation: fade-in 400ms ease-in;
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.fade-out {
    animation: fade-out 400ms ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.loading-icon {
    animation: spin 1s linear infinite;
    font-size: 20px;
    text-align: center;
}
  
@keyframes slideDown {
    0% {
        transform: translateY(-80%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown 0.8s;
}