button{
    width: 250px;
    height: 80px;
    border-radius: 30px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
    margin: 15px;
    display: block;
    color: #0a0a23;
}

.btn-google{
    height: 70px;
    border-radius: 20px !important;
    transition: all 0.3s ease 0s !important;
    color: #0a0a23 !important;
}

.test{
    width: 25%;
    font-size: 18px;
    height: 55px;
    background-color: rgb(151, 40, 40);
    color: white;
    border-radius: 0 4px 4px 0px;
    font-family: Quicksand, sans-serif;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin-top: 45%;
    margin-left: 70%;
    
}