button{
    width: 250px;
    height: 80px;
    border-radius: 30px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
    margin: 15px;
    display: block;
    color: #0a0a23;
}

.btn-google{
    height: 70px;
    border-radius: 20px !important;
    transition: all 0.3s ease 0s !important;
    color: #0a0a23 !important;
}