@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.title-login,
.title-home {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #0a0a23;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;

  &.title-home {
    margin-top: 5%;
  }
}

.logo-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.logo-style,
.logo-inicio-style {
  text-align: center;
  height: 80px;
  border-radius: 50px;

  &.logo-style {
    box-shadow: 0 0 5px 4px rgba(0, 215, 142, .7);
  }

  &.logo-inicio-style {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }
}
