.container-resumen{
    display: flex;
    min-height: 40px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #9352F7;
    border-radius: 10px;

}